{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Mon Équipe : {{ teamDetails['full_name'] }}</h1>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Informations de l'équipe
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-4">Abréviation</dt>
                            <dd class="col-sm-8">{{ teamDetails['abbreviation'] }}</dd>
                            <dt class="col-sm-4">Ville</dt>
                            <dd class="col-sm-8">{{ teamDetails['city'] }}</dd>
                            <dt class="col-sm-4">Conférence</dt>
                            <dd class="col-sm-8">{{ teamDetails['conference'] }}</dd>
                            <dt class="col-sm-4">Division</dt>
                            <dd class="col-sm-8">{{ teamDetails['division'] }}</dd>
                            <dt class="col-sm-4">Nom complet</dt>
                            <dd class="col-sm-8">{{ teamDetails['full_name'] }}</dd>
                            <dt class="col-sm-4">Nom</dt>
                            <dd class="col-sm-8">{{ teamDetails['name'] }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
